<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendaftaran Peserta</title>
</head>

<body>
    <section layout:fragment="content">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Edit Data Peserta</h1>
        </div>

        <form th:action="@{'/peserta/form'}" method="post" th:object="${peserta}" enctype="multipart/form-data">

            <table>
                <tr>
                    <td>Nama</td>
                    <td>
                        <input type="text" th:field="*{nama}">
                    </td>
                    <td>
                        <ul>
                            <li th:each="err : ${#fields.errors('nama')}" th:text="${err}" style="color: red;" />
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" th:field="*{email}">
                    </td>
                    <td>
                        <ul>
                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}" style="color: red;" />
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Tanggal Lahir</td>
                    <td>
                        <input type="text" th:field="*{tanggalLahir}">
                    </td>
                    <td>
                        <ul>
                            <li th:each="err : ${#fields.errors('tanggalLahir')}" th:text="${err}"
                                style="color: red;" />
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Jenis Kelamin</td>
                    <td>
                        <input type="radio" th:field="*{jenisKelamin}"
                            th:each="jk : ${T(com.muhardin.endy.aplikasi.pelatihan.entity.JenisKelamin).values()}"
                            th:value="${jk}" th:text="${jk}"> <br>
                    </td>
                    <td>
                        <ul>
                            <li th:each="err : ${#fields.errors('jenisKelamin')}" th:text="${err}"
                                style="color: red;" />
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Kota</td>
                    <td>
                        <select th:field="*{kota}">
                            <option value="">Pilih Kota</option>
                            <option th:each="kota : ${dataKota}" th:value="${kota.id}" th:text="${kota.nama}">Nama Kota
                            </option>
                        </select>
                    </td>
                    <td>
                        <ul>
                            <li th:each="err : ${#fields.errors('kota')}" th:text="${err}" style="color: red;" />
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Foto</td>
                    <td>
                        <input type="file" name="fotoPeserta">
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Simpan" id="simpan">
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>

        </form>
    </section>

</body>

</html>