<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Peserta</title>
</head>

<body>
    <section layout:fragment="content">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Data Peserta</h1>
        </div>
        <a sec:authorize="hasAuthority('EDIT_PESERTA')"
            th:href="@{/peserta/form}">Tambah Data Peserta</a>
        | 
        <a sec:authorize="hasAuthority('VIEW_PESERTA')"
            th:href="@{/peserta/csv}">Download CSV</a>

        | 

        <a sec:authorize="hasAuthority('VIEW_PESERTA')"
            th:href="@{/peserta/xls}">Download XLS</a>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>No</th>
                        <th><a class="sorted" sd:pagination-sort="nama" >Nama</a></th>
                        <th>Email</th>
                        <th><a class="sorted" sd:pagination-sort="tanggalLahir" >Tanggal Lahir</a></th>
                        <th>Jenis Kelamin</th>
                        <th>Kota</th>
                        <th>Foto</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p, it : ${dataPeserta}">
                        <td th:text="${it.count}">&nbsp;</td>
                        <td th:text="${p.nama}">Peserta 001</td>
                        <td th:text="${p.email}">p001@yopmail.com</td>
                        <td th:text="${p.tanggalLahir}">2020-02-02</td>
                        <td th:text="${p.jenisKelamin}">Pria</td>
                        <td th:text="${p.kota?.nama}">Jakarta</td>
                        <td>
                            <img width="100px" th:src="@{/peserta/{id}/foto(id=${p.id})}">
                        </td>
                        <td>
                            <a sec:authorize="hasAuthority('EDIT_PESERTA')" th:href="@{/peserta/form(id=${p.id})}">edit</a>
                            <a th:href="@{/peserta/view(id=${p.id})}">lihat</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
                Show <span sd:page-size-selector="javascript"></span> entries
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                       <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
            </div>
        </div>
    </section>
</body>

</html>