<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendaftaran Peserta</title>
</head>
<body>
    <h1>Pendaftaran Peserta Pelatihan</h1>

    <form th:action="@{'/registrasi/form'}" method="post" th:object="${peserta}" enctype="multipart/form-data">

        <table>
            <tr>
                <td>Nama</td>
                <td>
                    <input type="text" th:field="*{nama}">
                </td>
                <td>
                    <ul>
                        <li th:each="err : ${#fields.errors('nama')}" th:text="${err}"  style="color: red;"/>
                      </ul>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" th:field="*{email}">
                </td>
                <td>
                    <ul>
                        <li th:each="err : ${#fields.errors('email')}" th:text="${err}"  style="color: red;"/>
                      </ul>
                </td>
            </tr>
            <tr>
                <td>Tanggal Lahir</td>
                <td>
                    <input type="text" th:field="*{tanggalLahir}">
                </td>
                <td>
                    <ul>
                        <li th:each="err : ${#fields.errors('tanggalLahir')}" th:text="${err}"  style="color: red;"/>
                      </ul>
                </td>
            </tr>
            <tr>
                <td>Jenis Kelamin</td>
                <td>
                    <input type="radio" th:field="*{jenisKelamin}" 
                        th:each="jk : ${T(com.muhardin.endy.aplikasi.pelatihan.entity.JenisKelamin).values()}"
                        th:value="${jk}" th:text="${jk}"> <br>
                </td>
                <td>
                    <ul>
                        <li th:each="err : ${#fields.errors('jenisKelamin')}" th:text="${err}"  style="color: red;"/>
                      </ul>
                </td>
            </tr>
            <tr>
                <td>Kota</td>
                <td>
                    <select th:field="*{kota}">
                        <option value="">Pilih Kota</option>
                        <option th:each="kota : ${dataKota}" 
                        th:value="${kota.id}"
                        th:text="${kota.nama}" >Nama Kota</option>
                    </select>
                </td>
                <td>
                    <ul>
                        <li th:each="err : ${#fields.errors('kota')}" th:text="${err}"  style="color: red;"/>
                      </ul>
                </td>
            </tr>
            <tr>
                <td>Foto</td>
                <td>
                    <input type="file" name="fotoPeserta">
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Simpan" id="simpan">
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>

    </form>

</body>
</html>